/* COLORS
-------------------------------------------------------------------------------*/		

@white		:#FFFFFF;
@eggshell	:#efefed;
@link		:#888888;
@highlight	:rgba(44, 71, 229, 1);

@black		:#2d2d2d;