/* Home
-------------------------------------------------------------------------------*/

/* 
	Intro 
*/

.home {
	background-color: @eggshell;
}

.intro {
	text-align: center;
	padding: 10vh 15px;
}


