/* LAYOUT
-------------------------------------------------------------------------------*/

/* 
	Setup 
*/

*, *:after, *:before { 
	.box-sizing(border-box);
}

ul {
	list-style: none inside none;
	margin: 0;
	padding: 0;
}

.edit-link {
	display: none;
}

body {
	.wrapper {
		img {
			.img-responsive();
		}
	}
}

.content-wrapper {
	overflow: auto;
}

.project-grid {
	.page-max-width();
	padding: 10px;
}
.item {
	padding: 0;
	display: block;
	border: solid 10px @eggshell;
	background-color: transparent;
	position: relative;
	
	img {
		.opacity( 1 );
		position: relative;
		z-index: 1;
		.transition( opacity 200ms ease-in-out);
	}
	.project-details {
		
		text-align: center;
		color: @eggshell;
		.opacity( 0 );
		.transition( opacity 200ms ease-in-out);

		display: inline-block;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		background-color: @black;

		.wrap {
			.vertical-align();
			padding: 15px;
		}

		.project-title {			
			width: 100%;

			.lgcaps();
			font-size: @medium;

			&:after {
				content: '';
				display: block;
				margin: 12px auto;
				width: 34px;
				height: 3px;
				background: @eggshell;
			}
		}
		.project-scope {
			display: block;
			.smcaps();
		}
	}
	&:hover {
		img {
			.opacity( 0.8 );
		}
		.project-details {
			.opacity( 0.8 );
		}
	}
}


