/* SINGLE / PROJECT
-------------------------------------------------------------------------------*/

.single {
	header {
		background-color: @black;
	}

	article {
		overflow: auto;
	}

	.page-title {
		.make-sm-column(12);
		@media @xs {
			font-size: 2.4em;
		}
	}
	.article-content {
		.page-max-width();
		padding-top: 2em;
		.page-title {
			margin: 1em 0;
			color: lighten(@black, 20%);
		}
	}
	.hero {
		margin: 0 auto;
		&.full {
			width: 100%;
		}
		&.mobile {
			display: none;
		}
		@media @sm {
			&.desktop {
				display: none;
			}
			&.mobile {
				display: block;
			}
		}
		+ .article-content {
			padding-top: 0;
		}
	}
	.article-body > h4:first-child {
		margin: 0 0 1em;
	}
	.article-body > .text-block:first-child {
		padding: 0 0 3em;
	}
}

.article-body {
	overflow: visible;
	p {
		& + p {
			margin-top: 2em ;
		}
		line-height: 1.7em;
		.make-sm-column(8);
		.make-sm-column-offset(2);
	}
	.text-block {
		.make-row();
		clear: both;
		padding: 3em 0;
	}
	.callout p,
	blockquote p {
		line-height: 1.4em;
		margin-top: 1em;
		margin-bottom: 2em;
		.divide();
	}
	.callout + .text-block {
		padding-top: 0;
	}

	h4 {
		margin: 4em 0 1em;
		.make-sm-column(12);
		clear: both;
		& + .callout p,
		& + blockquote p {
			margin-top: 0;
		}
		& + .text-block {
			padding-top: 0;
		}
		@media @xs {
			margin: 2em 0 1em;
		}
	}
	
	.single-image {
		.make-sm-column(12);
		img {
			margin: 0 auto;
		}
		img.no-stack {
			margin: 3em auto;
		}
	}
	.multi-image {
		position: relative;
		clear: both;
		padding-top: 3em;
		padding-bottom: 3em;
		overflow: auto;
		width: 100%;
		.col {
			.make-sm-column(6);
			&.block {
				clear: left;
			}
		}
	}
	.single-image + .multi-image {
		padding-top: 0;
		margin-top: 1.7em;
		float: left;
	}
	@media @sm {
		p + .single-image {
			margin: 2em 0 1em;
		}
		.single-image,
		.multi-image {
			+ h4 {
				margin-top: 3em;
			}
			img {
				margin: 1em 0;
			}
			
		}
		.single-image {
			padding: 0;
			img {
				width: 100%;
			}
		}
		.multi-image {
			padding: 0;
		}
	}
}

// Previous and Next Arrow Pagination
.pagination {
	position: fixed;
	top: 50vh;
	width: 100%;
	@media @sm {
		top: auto;
		position: relative;
		margin: 2em 0;
		height: 30px;
	}
	a {
		i,
		span {
			.transition( all 200ms ease-in-out);
		}
		
		position: absolute;
		top: 0;
		&.left {
			left: 15px;
			span {
				padding-left: 5em;
			}
			@media @sm {
				left: 8px;
			}
		}
		&.right {
			right: 15px;
			span {
				padding-right: 4em;
			}
			@media @sm {
				right: 8px;
			}
		}
		@media @sm {
			&:before {
				content: '';
				display: block;
				width: 30px;
				height: 38px;
				background-color: rgba(0, 0, 0, .4);
				position: absolute;
				top: -6px;
				z-index: -1;
				left: -8px;
			}
		}
	}
	i {
		color: @eggshell;
		font-size: 4em;
		@media @sm {
			font-size: 1.6em;
		}
	}
	span {
		.opacity( 0 );
		.serif();
		font-style: italic;
		color: @eggshell;
		font-size: 1.7em;
		.vertical-align( absolute );	
		@media @sm {
			display: none;
		}
	}
	@media @desktop {
		a:hover {
			cursor: pointer;
			i {
				color: lighten(@black, 50%);
				font-size: 5em;
			}
			span {
				.opacity( 1 );
				color: lighten(@black, 50%);
			}
		}
	}

}
