/* BOOTSTRAP
-------------------------------------------------------------------------------*/
/*
  reset.less v1.0
  Base mixins and styles for any new web development project.
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
footer,
aside,
nav,
article,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  line-height: 1.5;
  color: black;
  background: white;
  text-align: center;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a:hover,
a:active {
  outline: none;
}
a img {
  border: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ie9 svg:not(:root) {
  overflow: hidden;
}
.ie6 legend,
.ie7 legend,
.ie8 legend,
.ie9 legend {
  border: 0;
}
.ie6 legend,
.ie7 legend {
  *margin-left: -7px;
  padding: 0;
}
label {
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/* SITE
-------------------------------------------------------------------------------*/
/* Media Queries
-------------------------------------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?q5nvpn');
  src: url('fonts/icomoon.eot?q5nvpn#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?q5nvpn') format('truetype'), url('fonts/icomoon.woff?q5nvpn') format('woff'), url('fonts/icomoon.svg?q5nvpn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-divide:before {
  content: "\e800";
}
.icon-arrow-left:before {
  content: "\e801";
}
.icon-arrow-right:before {
  content: "\e802";
}
.icon-close:before {
  content: "\e803";
}
.icon-logo:before {
  content: "\e804";
}
/* TYPOGRAPHY
-------------------------------------------------------------------------------*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 13, 2015 */
@font-face {
  font-family: 'playfair_displaybold';
  src: url('fonts/playfairdisplay-bold-webfont.eot');
  src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-bold-webfont.woff') format('woff'), url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'playfair_displaybold_italic';
  src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
  src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'), url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'playfair_displayitalic';
  src: url('fonts/playfairdisplay-italic-webfont.eot');
  src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-italic-webfont.woff') format('woff'), url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'playfair_displayregular';
  src: url('fonts/playfairdisplay-regular-webfont.eot');
  src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-regular-webfont.woff') format('woff'), url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  html {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
@media only screen and (max-width : 768px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 140%;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  color: #2d2d2d;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
}
.bold,
strong,
b {
  font-weight: 700;
}
em {
  font-style: italic;
}
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
a {
  cursor: pointer;
}
section a:link,
section a:visited,
section a:active {
  color: #888888;
}
section a:hover {
  color: #a2a2a2;
}
.page-title {
  font-size: 3.389em;
  font-family: "playfair_displayitalic", "Baskerville", "Georgia", serif;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-weight: normal;
  line-height: 1em;
}
.smcaps,
.subtitle,
h4,
h5 {
  font-size: 0.778em;
  text-transform: uppercase;
  letter-spacing: .220em;
  font-weight: 700;
}
.callout,
blockquote p {
  font-family: "playfair_displayregular", "Baskerville", "Georgia", serif;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-size: 2.222em;
  line-height: 1.4em;
  font-weight: 400;
}
@media only screen and (max-width : 640px) {
  .callout,
  blockquote p {
    font-size: 1.4em;
  }
}
/* COLORS
-------------------------------------------------------------------------------*/
/* Home
-------------------------------------------------------------------------------*/
/* 
	Intro 
*/
.home {
  background-color: #efefed;
}
.home .callout {
  margin-top: 0;
}
.intro {
  text-align: center;
  padding: 10vh 15px;
}
/* SINGLE / PROJECT
-------------------------------------------------------------------------------*/
.single header {
  background-color: #2d2d2d;
}
.single .page-title {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .single .page-title {
    float: left;
    width: 100%;
  }
}
@media only screen and (max-width : 640px) {
  .single .page-title {
    font-size: 2.4em;
  }
}
.single .article-content {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2em;
}
.single .article-content .page-title {
  margin: 1em 0;
  color: #606060;
}
.single .article-content .page-title + .article-body h4 {
  margin-top: 0;
}
.single .hero {
  margin: 0 auto;
}
.single .hero.mobile {
  display: none;
}
@media only screen and (max-width : 768px) {
  .single .hero.desktop {
    display: none;
  }
  .single .hero.mobile {
    display: block;
  }
}
.single .hero + .article-content {
  padding-top: 0;
}
.article-body {
  overflow: visible;
}
.article-body p {
  line-height: 1.7em;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.article-body p + p {
  margin-top: 2em ;
}
@media (min-width: 768px) {
  .article-body p {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 768px) {
  .article-body p {
    margin-left: 16.66666667%;
  }
}
.article-body .callout p,
.article-body blockquote p {
  line-height: 1.4em;
  margin-top: 1em;
}
.article-body .callout p:after,
.article-body blockquote p:after {
  content: '';
  display: block;
  margin: .7em auto 0;
  width: 34px;
  height: 3px;
  background: #2d2d2d;
}
.article-body h4 {
  margin: 4em 0 1em;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}
@media (min-width: 768px) {
  .article-body h4 {
    float: left;
    width: 100%;
  }
}
.article-body h4 + .callout p,
.article-body h4 + blockquote p {
  margin-top: 0;
  margin-bottom: 2em;
}
@media only screen and (max-width : 640px) {
  .article-body h4 {
    margin: 2em 0 1em;
  }
}
.article-body .single-image {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .article-body .single-image {
    float: left;
    width: 100%;
  }
}
.article-body .single-image img {
  margin: 3em auto;
}
.article-body .multi-image {
  position: relative;
  clear: both;
  padding-top: 3em;
  padding-bottom: 3em;
  overflow: auto;
}
.article-body .multi-image .col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .article-body .multi-image .col {
    float: left;
    width: 50%;
  }
}
@media only screen and (max-width : 768px) {
  .article-body p + .single-image {
    margin: 2em 0 1em;
  }
  .article-body .single-image img,
  .article-body .multi-image img {
    margin: 1em 0;
  }
  .article-body .multi-image {
    padding: 0;
  }
  .article-body .multi-image img {
    padding: 1em 0;
  }
}
.pagination {
  position: fixed;
  top: 50vh;
  width: 100%;
}
@media only screen and (max-width : 768px) {
  .pagination {
    top: auto;
    position: relative;
    margin: 2em 0;
    height: 30px;
  }
}
.pagination a {
  position: absolute;
  top: 0;
}
.pagination a i,
.pagination a span {
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.pagination a.left {
  left: 15px;
}
.pagination a.left span {
  padding-left: 5em;
}
@media only screen and (max-width : 768px) {
  .pagination a.left {
    left: 8px;
  }
}
.pagination a.right {
  right: 15px;
}
.pagination a.right span {
  padding-right: 4em;
}
@media only screen and (max-width : 768px) {
  .pagination a.right {
    right: 8px;
  }
}
@media only screen and (max-width : 768px) {
  .pagination a:before {
    content: '';
    display: block;
    width: 30px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -5px;
    z-index: -1;
    left: -8px;
  }
}
.pagination i {
  color: #efefed;
  font-size: 4em;
}
@media only screen and (max-width : 768px) {
  .pagination i {
    font-size: 1.6em;
  }
}
.pagination span {
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-family: "playfair_displayregular", "Baskerville", "Georgia", serif;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-style: italic;
  color: #efefed;
  font-size: 1.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
@media only screen and (max-width : 768px) {
  .pagination span {
    display: none;
  }
}
.pagination a:hover {
  cursor: pointer;
}
.pagination a:hover i {
  color: #adadad;
  font-size: 5em;
}
.pagination a:hover span {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  color: #adadad;
}
/* LAYOUT
-------------------------------------------------------------------------------*/
/* 
	Setup 
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none inside none;
  margin: 0;
  padding: 0;
}
.edit-link {
  display: none;
}
body .wrapper img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.content-wrapper {
  overflow: hidden;
}
.project-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}
.item {
  padding: 0;
  display: block;
  border: solid 10px #efefed;
  background-color: transparent;
  position: relative;
}
.item img {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  position: relative;
  z-index: 1;
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.item .project-details {
  text-align: center;
  color: #efefed;
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #2d2d2d;
}
.item .project-details .wrap {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  padding: 15px;
}
.item .project-details .project-title {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .120em;
  font-weight: 700;
  font-size: 1.222em;
}
.item .project-details .project-title:after {
  content: '';
  display: block;
  margin: 12px auto;
  width: 34px;
  height: 3px;
  background: #efefed;
}
.item .project-details .project-scope {
  display: block;
  font-size: 0.778em;
  text-transform: uppercase;
  letter-spacing: .220em;
  font-weight: 700;
}
.item:hover img {
  zoom: 1;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.item:hover .project-details {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* HEADER
-------------------------------------------------------------------------------*/
header {
  background: #2d2d2d;
  text-align: center;
  height: 38vw;
  position: relative;
}
.single header {
  height: 44vh;
}
@media only screen and (max-width : 768px) {
  .single header,
  .home header,
  .page header {
    height: 60vh;
  }
}
header a {
  color: #efefed;
  font-size: 0.778em;
  text-transform: uppercase;
  letter-spacing: .220em;
  font-weight: 700;
}
header a:hover {
  color: #888888;
}
header h1 {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  max-width: 36vh;
  max-height: 12vh;
  padding: 1em;
}
@media only screen and (max-width : 768px) {
  header h1 {
    max-height: 80px;
    max-width: 230px;
  }
}
header h1 a .logo {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}
header h1 a .logo.scroll {
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
header h1 a:hover .logo {
  zoom: 1;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
header nav {
  position: fixed;
  z-index: 5;
  padding-top: .3em;
  padding-bottom: .3em;
  width: 100%;
  background-color: transparent;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
header nav ul {
  text-align: center;
  position: relative;
}
header nav ul li {
  display: inline-block;
  color: #efefed;
  margin: .2em 2em;
  position: relative;
}
header nav ul li a {
  position: relative;
}
header nav ul li a:before {
  content: '';
  height: 3px;
  background-color: #efefed;
  opacity: 0;
  display: block;
  position: absolute;
  right: 30%;
  top: -14px;
  left: 30%;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
header nav ul li a:hover {
  color: #efefed;
}
header nav ul li a:hover:before {
  opacity: 1;
  right: 2%;
  left: 2%;
}
header nav ul li.logo-alt {
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 0;
  top: -2px;
  margin-left: 10px;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
header nav ul li.logo-alt.scroll {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
header nav ul li.logo-alt a {
  display: block;
  background-color: transparent;
  padding: 0 4px 0 7px;
  text-align: center;
  border: solid 2px #efefed;
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
header nav ul li.logo-alt a:hover {
  zoom: 1;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
@media only screen and (max-width : 768px) {
  header nav ul {
    text-align: right;
  }
  header nav ul li.logo-alt {
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  header nav ul li:last-of-type {
    display: none;
  }
  header nav ul li.nav-link {
    margin: .2em 1em;
  }
}
header nav.scroll {
  background-color: #2d2d2d;
}
.home header {
  animation: colorchange 2s linear;
  /* animation-name followed by duration in seconds*/
  -webkit-animation: colorchange 2s linear;
  /* Chrome and Safari */
}
@keyframes colorchange {
  0% {
    background-color: #efefed;
  }
  100% {
    background-color: #2d2d2d;
  }
}
@-webkit-keyframes colorchange {
  0% {
    background-color: #efefed;
  }
  100% {
    background-color: #2d2d2d;
  }
}
/* FOOTER
-------------------------------------------------------------------------------*/
footer {
  background: #efefed;
  margin-top: 4em;
}
footer:before,
footer:after {
  content: " ";
  display: table;
}
footer:after {
  clear: both;
}
footer:before,
footer:after {
  content: " ";
  display: table;
}
footer:after {
  clear: both;
}
@media only screen and (max-width : 768px) {
  footer {
    margin-top: 0;
  }
}
footer .wrap {
  padding: 5em 0 8em;
  max-width: 1280px;
  margin: 0 auto;
  overflow: auto;
}
@media only screen and (max-width : 640px) {
  footer .wrap {
    padding: 5em 0 1em;
  }
}
footer .contact-details {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
@media (min-width: 768px) {
  footer .contact-details {
    float: left;
    width: 25%;
  }
}
@media (min-width: 768px) {
  footer .contact-details {
    margin-left: 16.66666667%;
  }
}
@media only screen and (max-width : 768px) {
  footer .contact-details {
    text-align: center;
  }
}
footer .contact-form {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  footer .contact-form {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  footer .contact-form {
    margin-left: 8.33333333%;
  }
}
footer a:link,
footer a:visited,
footer a:active {
  color: #2d2d2d;
}
footer a:hover {
  color: #474747;
}
footer a {
  color: #2d2d2d;
  font-size: 0.889em;
}
footer ul {
  margin-bottom: 4em;
}
footer ul li {
  margin-bottom: 1.6em;
}
footer form input,
footer form textarea {
  background-color: transparent;
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 0;
  width: 100%;
  padding: .9em 0 .8em;
}
footer form input::-webkit-input-placeholder,
footer form textarea::-webkit-input-placeholder {
  color: #2d2d2d;
}
footer form input:-moz-placeholder,
footer form textarea:-moz-placeholder {
  color: #2d2d2d;
}
footer form input::-moz-placeholder,
footer form textarea::-moz-placeholder {
  color: #2d2d2d;
}
footer form input:-ms-input-placeholder,
footer form textarea:-ms-input-placeholder {
  color: #2d2d2d;
}
footer form input::-moz-placeholder,
footer form textarea::-moz-placeholder {
  color: #2d2d2d;
  opacity: 1;
}
footer form input:-ms-input-placeholder,
footer form textarea:-ms-input-placeholder {
  color: #2d2d2d;
}
footer form input::-webkit-input-placeholder,
footer form textarea::-webkit-input-placeholder {
  color: #2d2d2d;
}
footer form .wpcf7-text {
  border-top: solid 3px #2d2d2d;
  font-size: 0.778em;
  text-transform: uppercase;
  letter-spacing: .220em;
  font-weight: 700;
}
footer form textarea {
  font-size: 0.889em;
  border-top: solid 3px #2d2d2d;
  border-bottom: solid 3px #2d2d2d;
}
footer form input.referer-page {
  display: none;
}
footer form input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
footer form input + label {
  display: block;
  border: solid 3px #2d2d2d;
  height: 18px;
  width: 18px;
  background: #efefed;
  cursor: pointer;
  position: relative;
}
footer form input + label:after {
  content: 'hear from me';
  display: block;
  font-size: 0.778em;
  text-transform: uppercase;
  letter-spacing: .220em;
  font-weight: 700;
  position: absolute;
  top: -6px;
  left: 26px;
  width: 200px;
  text-align: left;
}
footer form input:checked + label::before {
  content: 'x';
  display: block;
  position: absolute;
  font-size: 14px;
  left: -2.5px;
  top: -7px;
  text-align: center;
  width: 18px;
  font-weight: 700;
}
footer form input[type="submit"] {
  border: solid 3px #2d2d2d;
  font-size: 0.778em;
  text-transform: uppercase;
  letter-spacing: .220em;
  font-weight: 700;
  width: 180px;
  float: left;
  margin-top: 2em;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
footer form input[type="submit"]:hover {
  background-color: #2d2d2d;
  color: #efefed;
}
@media only screen and (max-width : 768px) {
  footer form input[type="submit"] {
    width: 100%;
  }
}
footer input:focus,
footer textarea:focus {
  outline: none;
  color: #606060;
}
footer input:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
footer div.wpcf7-mail-sent-ok,
footer div.wpcf7-validation-errors {
  border: 0;
  clear: both;
  padding: 2em 0;
  font-size: 16px;
  text-align: left;
}
div.wpcf7-validation-errors {
  color: red;
}
/* SIDEBAR
-------------------------------------------------------------------------------*/
/* ARCHIVE
Post archive 
 -------------------------------------------------------------------------------*/
/* PAGE
-------------------------------------------------------------------------------*/
.page header {
  z-index: 2;
  background: url(images/kj-web.jpg) no-repeat top right fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}
@media only screen and (max-width : 768px) {
  .page header {
    background-size: 220%;
  }
  .page header a .logo {
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-animation: fadeout 3s infinite;
    -webkit-animation: fadeout 3s infinite;
    -o-animation: fadeout 3s infinite;
    animation: fadeout 3s infinite;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-delay: 2;
    animation-delay: 2;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .page header a .logo lesshat-selector {
    -lh-property: 0; } 
@-webkit-keyframes fadeout{ 0%{ opacity: 1; } 100%{ opacity: 0; }}
@-moz-keyframes fadeout{ 0%{ opacity: 1; } 100%{ opacity: 0; }}
@-o-keyframes fadeout{ 0%{ opacity: 1; } 100%{ opacity: 0; }}
@keyframes fadeout{ 0%{ opacity: 1; } 100%{ opacity: 0; };
  }
}
@media only screen and (max-width : 640px) {
  .page header {
    background-size: 300%;
  }
}
.page .page-title {
  display: none;
}
.page .article-body p {
  padding-left: 4em;
  padding-right: 4em;
}
@media only screen and (max-width : 768px) {
  .page .article-body p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.ring-container {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  height: 19em;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .ring-container {
    float: left;
    width: 100%;
  }
}
.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5.5em;
  margin-top: -5.5em;
  width: 11em;
  height: 11em;
  text-align: center;
  font-size: 1.375em;
  line-height: 11em;
  -webkit-font-smoothing: antialiased;
}
.ring:after,
.ring:before {
  content: '';
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}
.ring:after {
  box-shadow: inset 0 0.6875em 0 rgba(15, 15, 15, 0.8), inset 0.6875em 0 0 rgba(119, 117, 109, 0.8), inset 0 -0.6875em 0 rgba(216, 215, 215, 0.8), inset -0.6875em 0 0 rgba(225, 222, 221, 0.8);
  animation: rotar 8s -0.5s linear infinite;
}
.ring:before {
  box-shadow: inset 0 0.6875em 0 rgba(210, 195, 32, 0.8), inset 0.6875em 0 0 rgba(255, 0, 18, 0.8), inset 0 -0.6875em 0 rgba(8, 36, 45, 0.8), inset -0.6875em 0 0 rgba(114, 146, 155, 0.8);
  animation: rotarIz 8s -1s linear infinite;
}
@keyframes rotar {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotarIz {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
