<header class="site-header">
	<h1>
		<a href="{{ site.url }}" title="KJ Parish">
			<img src="{{ theme.path }}/images/logo.svg" alt="KJ Parish">
		</a>
	</h1>
	<nav>
		<ul>
			<li>
				<a href="/about">About</a>
			</li>
			<li><i class="icon-divide"></i></li>
			<li>
				<a href="#contact">Contact</a>
			</li>
		</ul>
	</nav>
</header>