{% extends "base.twig" %}

{% block content %}
	
	<section class="intro">
		<h2 class="subtitle">design + strategy</h2>
		<h3 class="callout">brand, ux, technology</h3>
	</section>

	<section class='project-grid'>

		<div id="grid" class="gridalicious">

			{% for i in 0..30 %}
				<a class="item" href="#">
					<img src="http://chrisglass.com/album/wp-content/uploads/2011/06/0429-matt-moore-mural.jpg" alt="">
					<div class="project-details">
						<div class="wrap">
							<h2 class="project-title">Lorum Ipsum Dolor</h2>
							<h3 class="project-scope">WEB DESIGN + BUILD</h3>
						</div>
						
					</div>
				</a>
			{% endfor %}

		</div><!-- .grid -->

	</section>

	
	  
{% endblock %}